In [7]:
import pandas as pd

In [8]:
test = pd.DataFrame({'movieId': [1, 2, 3, 4], 'title': ['Run (1991)', 'Ewoks: The Battle for Endor (1985)', 'Zero de conduite (Zero for Conduct) (Zéro de c', 'hdfeudfue(1985)'], 'genres': ['Action|Drama', 'Action|Drama', 'Action|Drama', 'Action|Drama']})

In [9]:
test.head()

   movieId                                           title        genres
0        1                                      Run (1991)  Action|Drama
1        2              Ewoks: The Battle for Endor (1985)  Action|Drama
2        3  Zero de conduite (Zero for Conduct) (Zéro de c  Action|Drama
3        4                                 hdfeudfue(1985)  Action|Drama

In [10]:
def production_year(row):
    out = ''
    find = False
    for year in range(1950, 2021):
        if str(year) in row['title']:
            out = str(year)
            find = True
    if find == True:
        return pd.Series(out)
    else:
        return pd.Series('1900')

In [11]:
test['year'] = test.apply(production_year, axis=1)

In [12]:
test.head()

   movieId                                           title        genres  year
0        1                                      Run (1991)  Action|Drama  1991
1        2              Ewoks: The Battle for Endor (1985)  Action|Drama  1985
2        3  Zero de conduite (Zero for Conduct) (Zéro de c  Action|Drama  1900
3        4                                 hdfeudfue(1985)  Action|Drama  1985

In [16]:
test.year.value_counts()

1985    2
1991    1
1900    1
Name: year, dtype: int64